

{% comment %} cart.html  {% endcomment %}

.attribute_heading, .cart_album_name {
    font-weight: bold;
}

.cart_update_btn, .cart_delete_btn {
    width: 6.25rem;
}


.cart-card-body {
    line-height: 0.4;
}

.cart_img {
    height: 140px;
    width: 140px;
}





{% comment %} record_store_homepage.html {% endcomment %}




#rec-info-card, #rec-img-card, #rec-img-card-body {
border-color: #EEEEEE;
}

#rec-info-card, #rec-img-card {
    background-color: #EEEEEE;
}

#companyNameHeading {
    color: white;
}

#viewCart{
    color: white;
    width: 5rem;
    
}



#record_cart_page_img {

    width: 180px;
    height: 180px;
}

#rec-img-card {
   
    border-right: none; 
    
}



.row label {
    width: 13rem;
    display: inline-block;
}

{% comment %} Admin Pages {% endcomment %}


#email_or_username, #password{
    display: inline-block;
}
html, body {
    height: 100%;
    
}


.add-staff, .admin_home_body, .add_staff_body {
    background-color: #0275d8;
    color: white;
}

staff
#vert_bar_content {
    background-color: #6C757D;
    display: inline-block;
    width: auto;
    height: 100%;
   
}


#admin-icon {
    font-size: 25px;
}
.fa, .fa-solid  {
    color: white;
}

.pg-title {
    color: white;
}

.fa-id-badge, .fa-user, .fa-sign-out{
    color: white;
    font-size: 16px; 
}

