
{% comment %} record_cart_page.html {% endcomment %}




#rec-info-card, #rec-img-card, #rec-img-card-body {
border-color: #EEEEEE;
}

#rec-info-card, #rec-img-card {
    background-color: #EEEEEE;
}

#rec_img_card_body {

    
} 

#record_cart_page_img {

    width: 180px;
    height: 180px;
}

#rec-img-card {
   
    border-right: none; 
    
}








.row label {
    width: 13rem;
    display: inline-block;
}





#email_or_username, #password{
    display: inline-block;
}
html, body {
    height: 100%;
    
}


.add-staff, .admin_home_body, .add_staff_body {
    background-color: #0275d8;
    color: white;
}

staff
#vert_bar_content {
    background-color: #6C757D;
    display: inline-block;
    width: auto;
    height: 100%;
   
}


#admin-icon {
    font-size: 25px;
}
.fa-home {
    color: white;
}

.pg-title {
    color: white;
}

.fa-id-badge, .fa-user, .fa-shopping-cart, .fa-sign-out{
    color: white;
    font-size: 16px; 
}

