<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Alpha Records</title>
    <!-- Include any CSS files or stylesheets here -->
</head>
<body>
    <!-- Navbar, header, or any common elements can be included here -->

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>About Us</h1>
                <p>Welcome to Alpha Records, your one-stop destination for all things music!</p>
                
                <h2>Our Mission</h2>
                <p>At Alpha Records, our mission is to provide music enthusiasts with a diverse selection of high-quality records, exceptional customer service, and a welcoming atmosphere where they can explore, discover, and connect with their favorite music.</p>
                
                <h2>Our Story</h2>
                <p>Established in 2024, Alpha Records has been serving the music community for 1 years. Founded by Kyle, Austin, Diego, Tingting, and Ihsan, our store started as a small passion project and has since grown into a beloved destination for music lovers of all ages.</p>
                
                <h2>Our Team</h2>
                <p>Meet the dedicated team behind Alpha Records! From passionate music enthusiasts to industry experts, our team is committed to providing you with an exceptional shopping experience.</p>
                
                <h2>Community Involvement</h2>
                <p>At Alpha Records, we believe in giving back to the community. We actively support local musicians, artists, and organizations through events, sponsorships, and collaborations.</p>
                
                <h2>Contact Us</h2>
                <p>Have a question or want to learn more about Alpha Records? Feel free to reach out to us at alpha.record@alpha.com or 203-456-7890. You can also visit us at [store address] during our business hours.</p>
            </div>
        </div>
    </div>

    <!-- Footer, additional navigation, or any common elements can be included here -->

    <!-- Include any JavaScript files or scripts here -->
    <script src="../static/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>
</html>
