<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../static/style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
  <style>
    .flash-message.error {
            color: white; /* White text for better contrast */
            background-color: #FF6347; /* Tomato red background */
            padding: 10px; /* Add some padding for better spacing */
            border-radius: 5px; /* Add rounded corners for style */
        }
        
        .flash-message.info {
            color: white; /* White text for better contrast */
            background-color: #32CD32; /* Lime green background */
            padding: 10px; /* Add some padding for better spacing */
            border-radius: 5px; /* Add rounded corners for style */
        }
</style>

{% block content %}
  <!-- Flash messages section -->
  {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash-messages">
                {% for category, message in messages %}
                    <li class="flash-message {{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</head>
<body>
  
  

  


 
  <div class="container-fluid">
    
    <div class="row bg-primary bg-gradient pt-2">
        
        <div class="col-auto">
            <p class="h5 pg-title">
                Admin Home
            </p>
        </div>
        <div class="col d-flex justify-content-end">
            <p class="h5 pg-title">
                Admin
            </p>
            </div>
            <i class="fa-solid fa-user" id="admin-icon"></i>
        </div>
        </div>

        <div class="container-fluid justify-content-around">
          <div class="row bg-secondary d-flex justify-content-center" id="nav-row">
            <div class="col text-center align-items-center">
              <i class="fa fa-id-badge align-middle" aria-hidden="true"></i>
              <button class="btn btn-secondary" onclick="location.href='/admin/staff'">Staff List</button>
            </div>
            <div class="col text-center align-items-center">
              <i class="fa fa-id-badge align-middle" aria-hidden="true"></i>
              <button class="btn btn-secondary" onclick="location.href='/admin/addstaff'">Add Staff</button>
            </div>
        
            <div class="col text-center align-items-center">
              <i class="fa fa-shopping-cart align-middle" aria-hidden="true"></i>
              <button class="btn btn-secondary" onclick="location.href='/admin/orderhistory'">Order History</button>
            </div>
           
            <div class="col text-center align-items-center">
              <i class="fa fa-pen-to-square align-middle" aria-hidden="true"></i>
              <button class="btn btn-secondary" onclick="location.href='/admin/displaycart'">Edit Customer Carts</button>
            </div>
            <div class="col text-center align-items-center">
              <i class="fa fa-shopping-cart align-middle" aria-hidden="true"></i>
              <button class="btn btn-secondary" onclick="location.href='/admin/addRecord'">Add Record</button>
            </div>
            <div class="col text-center align-items-center">
              <i class="fa-solid fa-record-vinyl align-middle" aria-hidden="true"></i>
              <button class="btn btn-secondary" onclick="location.href='/admin/stock'">Stock</button>
            </div>
            <div class="col text-center align-items-center">
              <i class="fa fa-sign-out align-middle" aria-hidden="true"></i>
              <button class="btn btn-secondary" onclick="location.href='/logout'">Logout</button>
            </div>
          </div>
        </div>
        

          <div class="container">
          <div class="row mt-5">  
            <div class="col d-flex justify-content-center">
              
          <p class="h1 text-center mb-3">Welcome, Admin</p>
        </div>
      </div>
      <div class="row">  
        <div class="col d-flex justify-content-center">
          <p class="h1 text-center">Click on a link to get started...</p>
        </div>
        </div>
      </div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
</body>

{% endblock %}