<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Record Store</title>
</head>
<body>
    <h1>Record Store</h1>
    <table>
        <thead>
            <tr>
        
                <th>Record Name</th>
                <th>Artist</th>
                <th>Image Link</th>
               
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{ record[1] }}</td>
                <td>{{ record[2] }}</td>
                <td><img src="{{ record[2] }}" alt="Record Image" height="100"></td>
                <td>
                    <form method="post" action="/user/add_to_cart">
                    <input type="hidden" name="record_id" value="{{record[0]}}">
                    <button type="submit">Add To Cart</button>
                </form>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
