<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="./style.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Account</title>
      </head>
    <body>
        <h1>Create Account</h1>
        <form method="POST" action="/create_account">
            <label for="first_name">First Name:</label><br>
            <input type="text" id="first_name" name="first_name"><br>
            <label for="last_name">Last Name:</label><br>
            <input type="text" id="last_name" name="last_name"><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email"><br>
            <label for="phone_num">Phone Number:</label><br>
            <input type="text" id="phone_num" name="phone_num"><br>
            <label for="address">Address:</label><br>
            <input type="text" id="address" name="address"><br>
            <label for="address2">Address 2:</label><br>
            <input type="text" id="address2" name="address2"><br>
            <label for="city">City:</label><br>
            <input type="text" id="city" name="city"><br>
            <label for="state">State:</label><br>
            <input type="text" id="state" name="state"><br>
            <label for="postal_code">Postal Code:</label><br>
            <input type="text" id="postal_code" name="postal_code"><br><br>
            <input type="submit" value="Create Account">
        </form>
    </body>
</html>